{{>navhomepage}}

<div class="container ajust">
<div class="row ajust-contenedor">
    <div class="ajutar_imagen col-sm-8 pb-4 pl-lg-5 pr-lg-3">
        <div class="row">
            <div class="col-md-12 pt-2">
            <div class="breadcrumbs"><span><a href="/">Portada</a> » <a href="/categoria">Categoria</a> » <a href="/articulo">Articulo</a></span></div>
               {{#each data.cate1}}
                <div>
                    <h1 class="m-0 h2">{{titulo}}</h1>
                    <div class="metas pb-2 pt-1">
                        <span class="meta author">
                            <a href="https://mejorconsalud.com/author/carmen-martin/" class=""><span>Autor: </span><strong>Flavio Mataqque</strong> </a>
                        </span>
                        <span class="meta date"><i class="far fa-calendar"></i> {{fecha}}</span>
                        <span class="meta date"><i class="icon-cont fas fa-eye ml-3"></i> {{views}} <i class="icon-cont fas fa-comments ml-3"></i> {{cantcomentarios}}</span>
                    </div>
                    <div class="content_articulo_post">
                    {{{articulo}}}
                    </div>

                </div>
                <hr class="hr_post">
               {{/each}}
            </div>
        {{#each data.cate3}}
            <div class="col-md-6 contenedor_articulos">
                <a href="/{{url}}"> 
                <div>
                    <img src="{{imagen}}" class="img-fluid"alt="">
                <div>
                    <h3 class="text-center h4 text-dark">{{titulo}}</h1>
                    <p class=" text-dark">{{articulo}}</p>
                </div>
                </div>
                </a>
            </div>
        {{/each}}
        </div>
        
    </div>
    <div class="col-sm-4 pr-lg-5 pl-lg-5 pb-3">
        <h3 class="p-title h5 recomendados mt-3 mb-0">Recomendaciones</h3>
        <div class="contenedor_recomendados">
        {{#each data.cate2}}
        <a href="/{{url}}" class="post_enlace_item">
            <div class="pt-2">
                <div class="post_item">
                    <img src="{{imagen}}" class="img-fluid" alt="">
                </div>
                <h3 class="text-center py-1 h5 bg-dark text-light">{{titulo}}</h3>
            </div>
        </a>
        {{/each}}
        </div>
    </div>
</div>
</div>
		<!-- Copyright -->
{{>footer}}