{{>navhomepage}}
<header class="pt-3 container">
    <h1 class="display-3 text-center pt-3"><span class="stal">stal</span><span class="text-dark font-weight-bold">ker</span></h1>
</header>
<section>
    <div class="container pt-3">
          <div class="contenedor">
        {{#each data.cate3}}
                <div class="item1">
                  <a href="{{url}}">
                    <div class="card">
                        <img src="{{imagen}}" alt="" class="img-fluid">
                        <div class="card-img-overlay d-flex align-items-end">
                          <div class="position_footer">
                            <h3 class="text-light h5 title">{{titulo}}</h3>
                            <p class="text-light m-0">{{articulo}}<strong>...Leer más</strong></p>
                            <span class="caracteristica">
                              <span>
                                <i class="far fa-clock icon-cont"> </i> {{fecha}} </span>
                                <i class="icon-cont fas fa-eye ml-3" aria-hidden="true"></i> {{views}}<i class="icon-cont fas fa-comments ml-3" aria-hidden="true"></i> 0</span>
                          </div>
                        </div> 
                    </div>
                  </a>
                </div>
        {{/each}}
          </div>
</section>
    <section class="post_recientes container pt-3">
        <div class="row container m-0 p-0">
            <div class="col-lg-9 d-flex flex-column">
                          <h2 class="h3 p-title mb-1">Hacking y seguridad</h2>
            <p>El hacking generalmente se refiere a la intrusión no autorizada en una computadora o una red.La persona que participa en actividades de piratería es conocida como hacker. Este pirata informático puede alterar el sistema o las características de seguridad para lograr un objetivo que difiere del propósito original del sistema.</p>
                <div class="row">
                  {{#each data.cate1}}
                  <div  class="col-lg-4  col-md-6 col-sm-6 pb-2 px-sm-0 px-md-1">
                    <a href="{{url}}" class="text-dark">
                    <div class="ajust_card card" style="border-radius: 0px">
                            <img src="{{imagen}}" alt="" class="card-img-top" style="border-radius: 0px">
                            <div class="card-body">
                                    <h5>{{titulo}}</h5>
                                    <p class="height-line">{{articulo}}<strong>...Leer más</strong></p>
                                    <span class="keep_down"><span><i class="far fa-clock icon-cont"></i>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> {{views}}<i class="icon-cont fas fa-comments ml-3"></i> 0</span>    
                            </div>
                      </div>
                      </a>
                  </div>
                  <hr>
                  {{/each}}
                </div>
            </div>
            <div class="col-lg-3 d-flex flex-column">
              <h4 class="h4 p-title mb-1">Categorias</h4>
              <div class="anuncio">
                  <img class="img-fluid" src="/img/anuncio.gif" alt="">
              </div>
            </div>
        </div>
    </section>

    <div class="container">
      <hr>
    </div>
    <section class="post_recientes container pt-3">
        <div class="row container m-0 p-0">
            <div class="col-lg-9 d-flex flex-column">
                          <h2 class="h3 p-title mb-1">TUTORIALES</h2>
            <p>El hacking generalmente se refiere a la intrusión no autorizada en una computadora o una red.La persona que participa en actividades de piratería es conocida como hacker. Este pirata informático puede alterar el sistema o las características de seguridad para lograr un objetivo que difiere del propósito original del sistema.</p>
                <div class="row">
                  {{#each data.cate3}}
                  <div  class="col-lg-4  col-md-6 col-sm-6 pb-2 px-sm-0 px-md-1">
                    <a href="{{url}}" class="text-dark">
                    <div class="ajust_card card" style="border-radius: 0px">
                            <img src="{{imagen}}" alt="" class="card-img-top" style="border-radius: 0px">
                            <div class="card-body">
                                    <h5>{{titulo}}</h5>
                                    <p class="height-line">{{articulo}}<strong>...Leer más</strong></p>
                                    <span class="keep_down"><span><i class="far fa-clock icon-cont"></i>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> {{views}}<i class="icon-cont fas fa-comments ml-3"></i> 0</span>    
                            </div>
                      </div>
                      </a>
                  </div>
                  <hr>
                  {{/each}}
                </div>
            </div>
            <div class="col-lg-3 d-flex flex-column">
              <h4 class="h4 p-title mb-1">Anuncio</h4>
              <div class="anuncio">
                <img class="img-fluid" src="/img/anuncio.gif" alt="">
              </div>
            </div>
        </div>
    </section>
<section class="post_recientes container pt-5">
    <div class="row">
        <div class="col-lg-9">
        <h3 class="p-title">TECNOLOGIAS </h3>
        <div class="row">
            <div class="col-md-12 pb-3" style="height: auto;">
                <ul class="contenedor_grid_post" style="height: auto;">
                  {{#each data.cate2}}
                    <li class="mb-1 grid_post">
                      <a href="{{url}}" class="link-enlace-post">
                      <div class="elemento_post d-flex flex-row">
                        <div class="imagen_post"><img src="{{imagen}}" class="img-fluid" alt=""></div>
                        <div class="contendor_info_post">
                            <h4 class="h5 m-0 text-dark">{{titulo}}</h4>
                            <p class="m-0 text-dark height-line">{{articulo}}<strong>...Leer más</strong></p>
                            <span class="keep_down text-dark"><span><i class="far fa-clock icon-cont"></i>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> {{views}}<i class="icon-cont fas fa-comments ml-3"></i> 0</span>
                        </div>
                      </div>
                        </a>
                    </li>
                    <hr style="margin:4px;">
                    {{/each}}
                </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
                <h3 class="p-title">POST POPULARES</h3>
        </div>
    </div>
</section>
{{>footer}}