{{>navhomepage}}
<header class="pt-3 container">
    <h1 class="text-center">Las Aves exoticas más hemosas del mundo</h1>
    <p class="text-center">Avesexoticas.org nace para difundir información veraz y de calidad sobre el cuidado, cría, reproducción y alimentación de más de 1000 pájaros y aves exóticas del mundo.</p>
</header>
<section>
    <div class="container pt-3">
          <div class="contenedor">
        {{#each data.cate3}}
                <div class="item1">
                  <a href="{{url}}">
                    <div class="card">
                        <amp-img src="{{imagen}}" alt="" width="400" height="300" layout="responsive" class="img-fluid"></amp-img>
                        <div class="card-img-overlay">
                          <div class="position_footer">
                            <h3 class="text-light h5 title">{{titulo}}</h3>
                            <span class="caracteristica">
                              <span>
                                <i class="far fa-clock icon-cont"> </i> {{fecha}} </span>
                                <i class="icon-cont fas fa-eye ml-3" aria-hidden="true"></i> {{views}}<i class="icon-cont fas fa-comments ml-3" aria-hidden="true"></i> 0</span>
                          </div>
                        </div> 
                    </div>
                  </a>
                </div>
        {{/each}}
          </div>
</section>
    <section class="post_recientes container pt-3">
        <div class="row container m-0 p-0">
            <h2 class="h3 p-title mb-1">Ciencia cosmica</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sunt eum voluptatem at, temporibus asperiores reprehenderit corporis quod labore non similique voluptatibus maiores unde, exercitationem ipsam iste dolore? Dolor, alias.</p>
            <div class="col-lg-12 d-flex">
                <div class="row">
                  {{#each data.cate1}}
                  <div  class="col-lg-3  col-md-6 col-sm-6 pb-2 px-sm-0 px-md-1">
                    <a href="{{url}}" class="text-dark">
                    <div class="ajust_card card" style="border-radius: 0px">
                            <amp-img src="{{imagen}}" width="400" height="300" layout="responsive" alt="" class="card-img-top" style="border-radius: 0px" alt="Bienvenido"></amp-img>
                            <div class="card-body">
                                    <h5>{{titulo}}</h5>
                                    <p class="p">{{articulo}}</p>
                                    <span class="keep_down"><span><i class="far fa-clock icon-cont"></i>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> {{views}}<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>    
                            </div>
                      </div>
                      </a>
                  </div>
                  {{/each}}
                </div>
               
            </div>
        </div>
    </section>
    <section class="post_recientes container pt-3">
        <div class="row container m-0 p-0">
            <h2 class="h3 p-title mb-1">Ciencia cosmica nuevo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sunt eum voluptatem at, temporibus asperiores reprehenderit corporis quod labore non similique voluptatibus maiores unde, exercitationem ipsam iste dolore? Dolor, alias.</p>
            <div class="col-lg-12 d-flex">
               <div class="row">
                  {{#each data.cate2}}
                  <div  class="col-lg-3  col-md-6 col-sm-6 pb-2 px-sm-0 px-md-1">
                    <a href="{{url}}" class="text-dark">
                    <div class="ajust_card card" style="border-radius: 0px">
                            <amp-img src="{{imagen}}" alt="" width="400" height="300" layout="responsive" class="card-img-top" style="border-radius: 0px"></amp-img>
                            <div class="card-body">
                                    <h5>{{titulo}}</h5>
                                    <p class="p">{{articulo}}</p>
                                    <span><i class="far fa-clock"></i> {{fecha}}</span>    
                            </div>
                      </div>
                      </a>
                  </div>
                  {{/each}}
                </div>
               
            </div>
            
        </div>

    </section>
<section class="post_recientes container pt-5">
    <div class="row">
        <div class="col-lg-9">
        <h3 class="p-title">POST RECIENTES</h3>
        <div class="row">
            <div class="col-md-12 pb-3" style="height: auto;">
                <ul class="contenedor_grid_post" style="height: auto;">
                  {{#each data.cate3}}
                    <li class="mb-1 grid_post">
                      <a href="{{url}}" class="link-enlace-post">
                      <div class="elemento_post d-flex flex-row">
                        <div class="imagen_post"><amp-img src="{{imagen}}" width="400" height="300" layout="responsive" class="img-fluid" alt=""></amp-img></div>
                        <div class="contendor_info_post">
                            <h4 class="h5 m-0">{{titulo}}</h4>
                            <p class="m-0">{{articulo}}<span style="text-decoration: underline;color:blue"> ..Leer más</span></p>
                            <span class="keep_down"><span><i class="far fa-clock icon-cont"></i>{{fecha}}</span><i class="icon-cont fas fa-eye ml-3"></i> {{views}}<i class="icon-cont fas fa-comments ml-3"></i> 3000</span>
                        </div>
                      </div>
                        </a>
                    </li>
                    <hr style="margin:4px;">
                    {{/each}}
                </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
                <h3 class="p-title">POST POPULARES</h3>
        </div>
    </div>
</section>
{{>footer}}